*.aux
*.log
*.out
*.gz
*.toc
*.nav
*.snm
*.zip
*.pdf
*.vrb
*.fls
*.fdb_latexmk
*.bbl
*.blg
.vscode
build
/main
/main.exe
*.exe
.idea/
cmake-build-*/
doc/html
analysis/**/*.csv
!analysis/discard-dfs/discard-dfs-math.csv
!analysis/further-analysis/*-processed.csv
analysis/further-analysis/further-analysis-processed.csv
analysis/further-analysis/process
*.dat
